.plannyDetailsImg {
  width: 100%; }

.categoryCont {
  margin: 8px 0px; }

.categoryTag {
  background: #2b2b2beb;
  display: inline;
  color: white;
  padding: 3px 5px;
  margin-right: 5px;
  background-color: #337ab7; }

.plannyDescription {
  margin: 15px 0px;
  font-size: 16px;
  padding: 7px;
  border: 1px solid lightgray; }

.plannyTime {
  margin-top: 15px; }

.plannyInfo {
  margin-top: 15px; }

.joinButton {
  margin-top: 15px;
  float: right; }
