.myParticipationBox{
    padding: 20px;
    margin-bottom: 13px;
    border: 1px solid black;
    display: inline;

    button{
        margin-left: 60px;
    }
}

.myParticipationList{
    margin-top: 35px;
    margin-bottom: 300px;

}

.createNewLink{
    cursor: pointer;
    border: 1px solid gray;    
    height: 239px;
    padding: 62px;
    text-align: center;
}

.createLinkIcon{
    width: 110px;
    opacity: 0.3;
}