.applicantsBox {
  background-color: lavender;
  border: 1px solid lightgray; }
  .applicantsBox .applicantsHeader {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #c1c1c1;
    font-family: Montserrat;
    letter-spacing: 1.4px; }
    .applicantsBox .applicantsHeader .right {
      font-size: 15px; }
  .applicantsBox .applicantsList {
    max-height: 100px;
    overflow-y: auto;
    margin-left: -1px;
    margin-right: -1px; }
    .applicantsBox .applicantsList .applicant {
      font-size: 15px;
      background-color: white;
      height: 41px;
      padding: 10px 10px;
      border: 1px solid lightgray;
      margin-bottom: -1px; }

.plannyCellWrapper {
  margin-bottom: 20px; }
