.plannyCell {
  background-color: #fefefe;
  display: block;
  height: 100%;
  margin-bottom: 10px;
  font-family: Montserrat; }
  .plannyCell .imageWrapper {
    height: 220px;
    overflow: hidden; }
    @media screen and (max-width: 1200px) {
      .plannyCell .imageWrapper {
        height: 180px; } }
    @media screen and (max-width: 992px) {
      .plannyCell .imageWrapper {
        height: 150px; } }
    @media screen and (max-width: 768px) {
      .plannyCell .imageWrapper {
        height: 130px; } }
    .plannyCell .imageWrapper img {
      object-fit: cover;
      min-height: 100%;
      width: 100%; }
  .plannyCell .plannyTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 41px 38px;
    font-size: 21px;
    background: #2b2b2beb;
    color: white;
    display: inline;
    padding: 4px 8px;
    font-weight: 600;
    cursor: pointer; }
  .plannyCell .plannyDesc {
    margin-top: 10px;
    margin-left: 10px; }
  .plannyCell .plannyButtonWrapper {
    text-align: right;
    padding: 15px; }
  .plannyCell .categoryCont {
    margin: 8px; }
  .plannyCell .categoryTag {
    background: #2b2b2beb;
    display: inline;
    color: white;
    padding: 3px 5px;
    margin-right: 5px;
    background-color: #337ab7; }

.plannyCellWrapper {
  margin-bottom: 20px; }
