
@import '../../variables.scss';

.plannyCell{
    background-color: $form-bg;
    display: block;
    height: 100%; 
    margin-bottom: 10px;
    font-family: Montserrat;  

    .imageWrapper{      
        height: 220px;   

        @media screen and (max-width: 1200px) {
            height: 180px;   
        }  
        
        @media screen and (max-width: 992px) {
            height: 150px;   
        }  

        @media screen and (max-width: 768px) {
            height: 130px;   
        }  
     

        overflow: hidden;
        img{                       
            object-fit: cover;
            min-height: 100%;
            width: 100%;
        }
    }

    .plannyTitle{
        position: absolute;
        top: 0px;    
        left: 0px;
        margin: 41px 38px;
        font-size: 21px;    
        background: #2b2b2beb;
        color: white;       
        display: inline;
        padding: 4px 8px;       
        font-weight: 600;
        cursor: pointer;  
    }

    .plannyDesc{
        margin-top:10px;
        margin-left: 10px;
    }

    .plannyButtonWrapper{
        text-align: right;
        padding: 15px;
    }

    .categoryCont{
        margin: 8px;
    }

    .categoryTag{
        background: #2b2b2beb;
        display: inline;
        color: white;      
        padding: 3px 5px;
        margin-right: 5px;
        background-color: #337ab7;     
    }
}

.plannyCellWrapper{
    margin-bottom: 20px;
}
