@import '../../global.scss';

.upload-btn-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: -5px;
}

.upload-btn{
  border: 2px solid #ccc;   
  border-radius: 6px;
  width: 100%;  
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

