.categoryRow {
  background: #fefefe;
  padding: 25px 0px;
  border-radius: 7px; }

.InlineformUnit .pointer {
  cursor: pointer; }

.scroll-arrow:hover, .scroll-arrow-left:hover, .scroll-arrow-right:hover {
  color: #33599B; }

.scroll-arrow-left {
  margin-right: 8px; }

.scroll-arrow-right {
  margin-left: 8px; }

.category-tabs {
  background-color: transparent;
  border-bottom: 0;
  text-align: center;
  white-space: nowrap;
  overflow: -moz-scrollbars-none;
  overflow: scroll;
  -ms-overflow-style: none; }
  .category-tabs .category-item {
    padding: 0px 12px; }
    .category-tabs .category-item .category-button {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .category-tabs .category-item .categoryIcon {
      cursor: pointer;
      width: 80px;
      height: 80px; }
    .category-tabs .category-item .categoryTitle {
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding-top: 10px;
      font-family: Montserrat; }
    .category-tabs .category-item.active {
      background-color: transparent; }
      .category-tabs .category-item.active .categoryTitle {
        color: #3F6EC1; }
  .category-tabs::-webkit-scrollbar {
    display: none; }

.subCategoryRow {
  background: #fefefe;
  position: absolute;
  border-radius: 7px;
  width: 40%;
  left: 30%;
  z-index: 1000000;
  padding: 10px 20px; }
  .subCategoryRow input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-left: -27px;
    padding-bottom: 4px;
    font-size: 15px; }
  .subCategoryRow label {
    line-height: 34px;
    min-height: 20px;
    padding-left: 20px;
    font-weight: 400;
    margin-left: 14px; }

.form-group {
  width: 100%; }
  .form-group input.form-control {
    flex: 1; }
  .form-group .react-datepicker-wrapper {
    flex: 1 !important; }
    .form-group .react-datepicker-wrapper .form-control {
      width: 100% !important;
      text-align: center; }
