@import '../../variables.scss';

.categoryRow{   
    background: $form-bg;
    padding: 25px 0px;
    border-radius: 7px;
}

.InlineformUnit

.pointer {
    cursor: pointer;
}

.scroll-arrow:hover{
    color: $app-highlight-secondary;
}

.scroll-arrow-left{
    @extend .scroll-arrow;
    margin-right: 8px;
}

.scroll-arrow-right{
    @extend .scroll-arrow;
    margin-left: 8px;
}

.category-tabs {
    background-color: transparent;
    border-bottom: 0;
    text-align: center;    

    .category-item{      
        padding: 0px 12px;

        .category-button{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .categoryIcon{
            cursor: pointer;
            width: 80px;
            height: 80px;
        }     
        .categoryTitle{
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding-top: 10px;
            font-family: Montserrat;  
        }

        &.active{
            background-color: transparent;
            .categoryTitle{
                color:#3F6EC1;               
            }
        }
    }
  

    white-space: nowrap;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.subCategoryRow{
    background: $form-bg;
    position: absolute; 
    border-radius: 7px;  
    width: 40%;      
    left: 30%;
    z-index: 1000000;
    padding: 10px 20px;
  
    input[type=checkbox]{
        width: 20px;    
        height: 20px;   
        margin-left: -27px;
        padding-bottom: 4px;
        font-size: 15px;
    }

    label{
        line-height: 34px;
        min-height: 20px;
        padding-left: 20px;       
        font-weight: 400;      
        margin-left: 14px;
    }
}

.form-group{
    width: 100%;

    input.form-control{
        flex: 1;
    }

    .react-datepicker-wrapper {
        flex: 1 !important;
        .form-control{
            width: 100% !important;
            text-align: center;
        }
    }
}

