$app-highlight-primary: #3F6EC1;
$app-highlight-secondary: #33599B;
$app-dark-gray: #2b2b2beb;
$app-lighter-gray: #c1c1c1;
$app-background-gray: #efefef;
$form-bg: #fefefe;

$app-blue-brand: #08a7d6;
$app-blue-brand-hover: #1293bb;